<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Bypass Examples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Login Bypass Pages</h2>
    <nav>
        <ul>
            <li><a href="/lp/insecure-login">Insecure Login Bypass</a></li>
            <li><a href="/lp/secure-login">Secure Login Example</a></li>
            <li><a href="/lp/default-login">Default Credentials Example</a></li>
            <li><a href="/lp/rate-limit-login">Rate Limit Login Example</a></li>
            <a href="../">Back to the main menu</a>
        </ul>
    </nav>
</body>
</html>
