<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engine Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Template Engine Example</h1>
        <div class="card">
            <h3>Hello, {{ name }}!</h3>
        </div>
        <div class="flex gap-4 mt-4">
            <a href="../ssti" class="card">Back to the SSTI Examples</a>
            <a href="../" class="card">Back to the main menu</a>
        </div>
    </div>
</body>
</html>